body {
  margin: 0;
  background: #f3f3f3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

header {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
}
header > div {
  padding: 3px 20px;
}

#des-demo {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  letter-spacing: 0.01em;
  width: 100%;
}
.sec {
  padding: 20px;
  flex-grow: 0;
  width: 50%;
}
.sec > div {
  padding-bottom: 10px;
}
.title {
  margin-bottom: 10px;
}
.result {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 10px;
  min-height: 10em;
  border: none;
}
.cipher {
  background-color: #f5e3df;
}
.plain {
  background-color: #d6f5e8;
}
